{% trans_default_domain('manufacture-part.admin') %}


<main class="main d-print-none">

    <section class="container px-4 mb-5">

        <div class="mt-3 d-flex justify-content-between">
            {{ include(_self|replace({ "content.html.twig": "_breadcrumb.html.twig" })) }}
        </div>

        <div class="d-flex justify-content-between align-items-center mb-3 gap-3">

            <div class="w-100">
                <h1 class="h4 text-uppercase fw-bolder mb-0">
                    Производственный процесс
                </h1>
            </div>

            <button {# href="{{ path('products-stocks:admin.purchase.index') }}" #}
                    class="btn btn-light opacity-25"
                    role="tooltip"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    data-bs-delay='{"show":600,"hide":100}'
                    title="{{ 'Производство продукции'|trans }}"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-folder"
                     viewBox="0 0 16 16">
                    <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"/>
                </svg>
            </button>


            <a href="{{ path('manufacture-part:admin.manufacture') }}"
               class="btn btn-light"
               role="tooltip"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               data-bs-delay='{"show":600,"hide":100}'
               title="{{ 'Список производственных партий'|trans }}"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                     class="bi bi-card-checklist" viewBox="0 0 16 16">
                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                </svg>
            </a>

            {# {% if opens %}
                <a href="{{ path('manufacture-part:admin.newedit.new') }}"
                   class="btn modal-btn modal-link disabled btn-primary text-nowrap" data-bs-toggle="modal"
                   data-bs-target="#modal"
                   title="Открыть производственную партию">
                    Добавить партию
                </a>
            {% endif %} #}

        </div>

        {% if opens %}

            {# Партия производства #}
            {{ include(_self|replace({ "content.html.twig": "part.html.twig" }), { card : opens }) }}

        {% else %}

            <div class="alert alert-secondary d-flex justify-content-between align-items-center" role="alert">
                <span>
                    У Вас нет  открытых производственных партий
                </span>

                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANUFACTURE_PART_NEW') %}
                    <a href="{{ path('manufacture-part:admin.newedit.new') }}"
                       class="btn modal-btn modal-link disabled btn-primary text-nowrap" data-bs-toggle="modal"
                       data-bs-target="#modal"
                       title="Открыть производственную партию">
                        Открыть новую партию
                    </a>
                {% endif %}


            </div>

        {% endif %}

        <div class="d-flex justify-content-between align-items-center mb-3 gap-3">

            <div class="w-100">
                <h2 class="h5 text-uppercase fw-bolder mb-0">
                    Каталог продукции
                </h2>
            </div>

            {# <div class="w-100 d-flex align-items-center gap-3 justify-content-end">
            #}{# {{ form_start(profile) }}
                <div class="d-flex justify-content-end position-relative my-1 gap-3">

                    <div class="w-50">
                        {{ form_widget(profile.profile, {
                            placeholder: 'Выберите профиль из списка ...', attr: { 'data-select' : 'select2', class: 'mb-0' } }) }}
                    </div>
                </div>
                {{ form_end(profile) }} #}{#
            </div> #}

        </div>

        <div class="border border-light rounded-4 p-3">

            <div class="d-flex justify-content-between">

                {% include Template('/_includes/'~baks_settings.device~'/search.html.twig') %}

                <div class="w-100">
                    {# Фильтр по продукции #}
                    <div class="w-100">
                        {% include Template('@products-product/admin/filter/'~baks_settings.device~'/filter.html.twig') %}
                    </div>
                </div>

            </div>

            <div class="row cards-box-body mt-3">

                {# Текстовый результат фильтра #}
                {% include Template('@products-product/filter/'~baks_settings.device~'/filter_text.html.twig') %}

                {% for item in query.data %}
                    {{ include(_self|replace({ "content.html.twig": "card.html.twig" })) }}
                {% else %}

                    <div class="alert alert-warning m-3 w-100" role="alert">

                        <div class="d-flex align-items-baseline gap-3">
                            <div>
                                <div class="icon rounded-circle bg-contain p-2 bg-primary text-white"
                                     style="width: 10px; height: 10px;"><span class="small">!</span></div>
                            </div>
                            <div class="small lh-1">
                                Информация по данному запросу отсутствует
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>

        </div>


        {% if query.data %}

            <div class="position-absolute mt-2 pt-2 small">
                <strong class="">Множественный выбор:</strong>
            </div>

            <div class="to-production-actions d-flex gap-2 sticky-bottom ps-5 pb-3 pt-2" style="margin-left: 130px;">

                <button
                        class="btn btn-sm btn-outline-primary text-nowrap mb-2"
                        role="tooltip"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-delay='{"show":600,"hide":100}'
                        title="Выбрать все"
                        id="select-all-to-production"
                >
                    Выбрать все
                </button>

                <a
                        class="btn btn-sm btn-danger opacity-75 text-nowrap mb-2 d-none align-content-center"
                        role="tooltip"
                        data-bs-placement="bottom"
                        data-bs-delay='{"show":600,"hide":100}'
                        title="Добавить выбранные"
                        id="add-all-to-production"

                        data-bs-toggle="modal"
                        data-bs-target="#modal"

                        data-post-class="add-all-to-production"

                        data-method="post"
                        data-collection-form="product_form_data"

                        data-formname="{{ add_selected_product_form_name }}"

                        href="{{ path('manufacture-part:admin.selected-products.add') }}"

                >
                    Добавить выбранные
                </a>

                {% if has_telegram_bot %}
                <a
                        class="btn btn-sm btn-primary opacity-75 text-nowrap mb-2 d-none"
                        role="tooltip"
                        data-bs-placement="bottom"
                        data-bs-delay='{"show":600,"hide":100}'
                        title="Отправить выбранные в Telegram"
                        id="add-all-to-telegram"

                        data-bs-toggle="modal"
                        data-bs-target="#modal"

                        data-post-class="add-all-to-telegram"

                        data-method="post"
                        data-collection-form="collection"

                        data-formname="{{ telegram_products_info_form_name }}"

                        href="{{ path('telegram-bot:admin.message.telegram') }}"

                >
                    Отправить выбранные в Telegram <img class="shadow rounded-5" src="/assets/telegram-bot/img/telegram.svg" alt="telegram">
                </a>
                {% endif %}

            </div>
        {% endif %}


        {% if (query.data) %}
            {% include Template('_includes/'~baks_settings.device~'/pagination.html.twig') with { 'pagination' : query } %}
        {% endif %}

    </section>

</main>
